@model Tarea

<div class ="container">
    <form asp-action="Crear" method="post">
        <h1>Crear tarea</h1>
        <div class="form-group">
          <label asp-for="Titulo" class="form-label"> Nombre tarea: </label>
          <input type="text" asp-for="Titulo" name="Titulo" class="form-control"/>
          <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Descripcion" class="form-label"> Descripcion tarea: </label>
          <input type="text" asp-for="Descripcion" name="Descripcion" class="form-control"/>
          <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>