@model Tarea

<div class ="container">
    <form asp-action="ActualizarTarea" method="post">
        <h1>Editar tarea</h1>
        <input type="hidden" asp-for="IdTarea" />
        <div class="form-group">
          <label asp-for="Titulo" class="form-label"> Nombre tarea: </label>
          <input type="text" asp-for="Titulo" name="Titulo" class="form-control"/>
          <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Descripcion" class="form-label"> Descripcion tarea: </label>
          <input type="text" asp-for="Descripcion" name="Descripcion" class="form-control"/>
          <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Estado" class="form-label"> Estado tarea: </label>
          <input type="text" asp-for="Estado" name="Estado" class="form-control" disabled />
          <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="FechaLimite" class="form-label"> Fecha limite tarea: </label>
          <input type="datetime-local" asp-for="FechaLimite" name="FechaLimite" class="form-control"/>
          <span asp-validation-for="FechaLimite" class="text-danger"></span>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Editar tarea</button>
        </div>
        <br />
        <a asp-action="ListaTareas" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
