@model List<Tarea>
<div class="container">
        <br />
        @if (User.Identity.IsAuthenticated){
            <div>
                <div class="alert alert-success" role="alert">
                    <h1>Bienvenido @User.Identity.Name</h1>
                    <form method="get" asp-controller="Usuario" asp-action="CerrarSesion">
                        <button class="navbar-brand" type="submit" style="width:auto">
                            Cerrar sesión
                        </button>
                    </form>
                    <br/>
                    <div>
                        @*if (User.HasClaim("esAdmin", "1"))*@
                        @if (User.IsInRole("Administrador"))
                        {
                            <form method="get" asp-controller="Usuario" asp-action="ListaUsuarios">
                                <button type="submit" class="btn btn-primary">Ver usuarios</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }

        <div>
            <select class="form-select" aria-label="Default select example" id="seleccionEstado" onchange="filtrarXEstado()">
                <option selected value="">Lista de tareas</option>
                <option value="Pendiente">Pendientes</option>
                <option value="Completada">Completadas</option>
                <option value="Eliminada">Eliminadas</option>
            </select>
        </div>
        <br />
    
        <div id="listaTareasParcial">
            @Html.Partial("ListaTareasParcial", Model)
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            function filtrarXEstado() {
                var estado = $('#seleccionEstado').val();

                $.ajax({
                    url: '@Url.Action("FiltrarTareasPorEstado", "Tarea")',
                    type: 'GET',
                    data: { Estado: estado },
                    success: function (result) {
                        $('#listaTareasParcial').html(result);
                    },
                    error: function (error) {
                        console.error('Error filtering tasks: ' + error);
                    }
                });
            }
        </script>
        <br/>
        <div>
            <form asp-action="Crear" method="get" >
                <button type="submit" class="btn btn-primary">Crear Nueva Tarea</button>
            </form>   
        </div>
</div>


