<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <main role="main" class="pb-3">
            @RenderBody()
    </main>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>